svg {
  display: block;
  margin: auto;
}
#ui {
  display: block;
  margin: auto;
  text-align: center;
  margin: 5px;
}
.graphic {
  display: block;
  margin: auto;
  text-align: center;
  display: block;
  justify-content: center;
}
#treeMap {
}
#lineGraph {
  margin-top: 50px;
}
.c {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
.d {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
