#dashboard {
  /* margin-top: 50px; */
  /* background-color: white; */
  display: grid;
  grid-template-areas:
    "head head head"
    "left   right right";
  grid-template-columns: 0.7fr 3fr;
  grid-template-rows: 11vh 89vh;
}

#dashboard__header {
  grid-area: head;
}

#left {
  grid-area: left;
  overflow-y: scroll;
  background-color: rgb(26, 26, 26);

  /* background-color: turquoise; */
}

#left::-webkit-scrollbar {
  width: 10px;
}

#left::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: #5e696b;
}

#left::-webkit-scrollbar-thumb {
  background-color: #3e4344;
}

#left::-webkit-scrollbar-thumb:hover {
  background-color: #c05454;
}

#center {
  grid-area: center;
  /* background-color: thistle; */
}

#right {
  grid-area: right;
  overflow-y: scroll;
  margin-left: 30px;
  background-color: rgb(26, 26, 26);
  /* background-color: wheat; */
}

#linegraph__cases {
  /* background-color: #c05454; */
}
