#world {
  text-align: center;
}

svg .country:hover {
  stroke-width: 1px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: lightblue;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}
